<footer id="wn__footer" class="footer__area bg__cat--8 brown--color">
			<div class="footer-static-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer__widget footer__menu">
								<div class="ft__logo">
									<a href="/">
										<img src="/images/logo/logo3.png" alt="logo">
									</a>
									<p>Knowing is not enough; We must apply. Willing is not enough; we must do.</p>
								</div>
								<div class="footer__content">
									<ul class="social__net social__net--2 d-flex justify-content-center">
										<li><a href="https://www.facebook.com/" target="blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href="https://www.google.com/" target="blank"><i class="fa fa-google"></i></a></li>
									    <li><a href="https://twitter.com/" target="blank"><i class="fa fa-twitter"></i></a></li>
									    <li><a href="https://youtube.com/" target="blank"><i class="fa fa-youtube"></i></a></li>
									    <li><a href="https://www.instagram.com/" target="blank"><i class="fa fa-instagram"></i></a></li>
									</ul>
									<ul class="mainmenu d-flex justify-content-center">
										<li><a href="/">Trending</a></li>
										<li><a href="/">Best Seller</a></li>
										<li><a href="/">All Product</a></li>
										<li><a href="#" data-toggle="modal" data-target="#mymodal" >Wishlist</a></li>
										<li><a href="/contact">Contact</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright__wrapper">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="copyright">
								<div class="copy__right__inner text-center">
									<strong><p>Copyright <i class="fa fa-copyright"></i> 2020 Suraj Ojha. All Rights Reserved</p></strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</footer>