<!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area bg-image--7">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="bradcaump__inner text-center">
                        	<h2 class="bradcaump-title">About us</h2>
                            <nav class="bradcaump-content">
                              <a class="breadcrumb_item" href="/">Home</a>
                              <span class="brd-separetor">/</span>
                              <span class="breadcrumb_item active">About us</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 <!-- End Bradcaump area -->

<!-- Start About Area -->
        <div class="page-about about_area bg--white section-padding--lg">
        	<div class="container">
				<div class="row">
        			<div class="col-lg-12">
        				<div class="section__title--3 text-center pb--30">
        					<h2>Our Process Skill Of High</h2>
        					<p>the right people for your project</p>
        				</div>
        			</div>
        		</div>
        		<div class="row align-items-center">
					<div class="col-lg-6 col-sm-12 col-12">
        				<div class="content text-left text_style--2">
    					    <h2>we have skills to show</h2>
    					    <div class="skill-container">
    					        <!-- Start single skill -->
    					        <div class="single-skill">
    					            <p>Node.js</p>
    					            <div class="progress">
    					                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%"><span class="pen-lable"></span>
    					                </div>
    					            </div>
    					        </div>
    					        <!-- End single skill -->
    					        <!-- Start single skill -->
    					        <div class="single-skill">
    					            <p>Logo Design</p>
    					            <div class="progress">
    					                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%"><span class="pen-lable"></span>
    					                </div>
    					            </div>
    					        </div>
    					        <!-- End single skill -->
    					        <!-- Start single skill -->
    					        <div class="single-skill">
    					            <p>Video Editing</p>
    					            <div class="progress">
    					                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width:93%"><span class="pen-lable"></span>
    					                </div>
    					            </div>
    					        </div>
    					        <!-- End single skill -->
    					        <!-- Start single skill -->
    					        <div class="single-skill">
    					            <p>Image Processing</p>
    					            <div class="progress">
    					                <div class="progress-bar wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%"><span class="pen-lable"></span>
    					                </div>
    					            </div>
    					        </div>
    					        <!-- End single skill -->
    					    </div>
        				</div>
        			</div>
        			<div class="col-lg-6 col-sm-12 col-12">
        				<div class="content">
        					<h3>Buy Book</h3>
        					<h2>Different Knowledge</h2>
        					<p class="mt--20 mb--20">Reading a good book in silence is like eating chocolates for the rest of your life and never getting fat..</p>
        					<p class="mt--20 mb--20">You can't buy happiness. But you can buy books that's kind of same thing.</p>
        					<strong>Lamachaur Address</strong>
        					<p>IOE, PASHICHIMANCHAL CAMPUS, LAMACHAUR-16, POKHARA</p>
        				</div>
        			</div>
        		</div>
        	</div>
        </div>
        <!-- End About Area -->
        <!-- Start Team Area -->
<section class="wn__team__area pb--75 bg--white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section__title--3 text-center">
                    <h2>Meet our team</h2>
                    <p>The Engineers of WRC</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start Single Team -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="wn__team">
                    <div class="thumb1">
                        <img src="images/about/team/a3.jpg" alt="Team images">
                    </div>
                    <div class="content text-center">
                        <h4>SURAJ OJHA</h4>
                        <p>THE DEVELOPER</p>
                        <ul class="team__social__net">
                            <li><a href="https://twitter.com/OberaiSurazz"><i class="icon-social-twitter icons"></i></a></li>
                            <li><a href="https://www.facebook.com/suraj.oberai.5"><i class="icon-social-facebook icons"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCSyTeQpRGhi8VKX1MN2BDxA?view_as=subscriber"><i class="icon-social-youtube icons"></i></a></li>
                            <li><a href="https://github.com/Suraez"><i class="icon-social-github icons"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single Team -->
            <!-- Start Single Team -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="wn__team">
                    <div class="thumb1 align-items-center justify-content-center">
                        <img src="images/about/team/amar1.jpg" alt="Team images">
                    </div>
                    <div class="content text-center">
                        <h4>AMAR SHAH</h4>
                        <p>GRAPHIC DESIGNER</p>
                        <ul class="team__social__net">
                            <li><a href="https://twitter.com/CHostelers"><i class="icon-social-twitter icons"></i></a></li>
                            <li><a href="https://www.facebook.com/suraj.oberai.5"><i class="icon-social-facebook icons"></i></a></li>
                            <li><a href="https://www.instagram.com/amarshah295/"><i class="icon-social-instagram icons"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single Team -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="wn__team">
                    <div class="thumb1">
                        <img src="images/about/team/shirish3.jpg" alt="Team images">
                    </div>
                    <div class="content text-center">
                        <h4>SHIRISH BAJRACHARYA</h4>
                        <p>ASSISTANT DEVELOPER</p>
                        <ul class="team__social__net">
                            <li><a href="#"><i class="icon-social-twitter icons"></i></a></li>
                            <li><a href="#"><i class="icon-social-facebook icons"></i></a></li>
                            <li><a href="#"><i class="icon-social-youtube icons"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                <div class="wn__team">
                    <div class="thumb1">
                        <img src="images/about/team/bhuwandai.jpg" alt="Team images">
                    </div>
                    <div class="content text-center">
                        <h4>BHUWAN ADHIKARI</h4>
                        <p>SOFTWARE QUALITY ASSURANCE</p>
                        <ul class="team__social__net">
                            <li><a href="https://twitter.com/luminousbhuwan"><i class="icon-social-twitter icons"></i></a></li>
                            <li><a href="https://https://www.facebook.com/luminousbhuwan"><i class="icon-social-facebook icons"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/bhuwan-adhikari-130385121/"><i class="icon-social-linkedin icons"></i></a></li>
                            <li><a href="https://github.com/bhuwanadhikari"><i class="icon-social-github icons"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- End Team Area -->