<div class="ht__bradcaump__area bg-image--7">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12">
                       <div class="bradcaump__inner text-center">
                         <h2 class="bradcaump-title">Shop Grid</h2>
                           <nav class="bradcaump-content">
                             <a class="breadcrumb_item" href="index.html">Home</a>
                             <span class="brd-separetor">/</span>
                             <span class="breadcrumb_item active">Electrical</span>
                           </nav>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- End Bradcaump area -->
       <!-- Start Shop Page -->
       <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
         <div class="container">
           <div class="row">

             <div class="col-lg-12 col-12 order-1 order-lg-2">
               <div class="row">
                 <div class="col-lg-12">
               <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                             <p>Download pdfs for free! Have a good day!</p>
                           </div>
                 </div>
               </div>
               <div class="tab__container">
                 <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                   <div class="row">
                     <!-- Start Single Product -->
                     <div class="product product__style--3 col-lg-2 col-md-2 col-sm-3 col-12">
                       <div class="product__thumb">
                           <a class="first__img" target="blank" href="https://drive.google.com/file/d/1miAQKIPxiSDf1C7XEP8jNb6sYpkJiI8q/view?usp=sharing"><img src="/images/pdfss.png" alt="product image"></a>
                           <a class="second__img animation1" target="blank" href="https://drive.google.com/file/d/1miAQKIPxiSDf1C7XEP8jNb6sYpkJiI8q/view?usp=sharing"><img src="/images/pdfss3.jfif" alt="product image"></a>

                       </div>
                       <div class="product__content content--center content--center">
                         <h4><a target="blank" href="https://drive.google.com/file/d/1miAQKIPxiSDf1C7XEP8jNb6sYpkJiI8q/view?usp=sharing">Digital Logic</a></h4>
                       </div>
                     </div>
                                   <!---End single product -->
                   <div class="product product__style--3 col-lg-2 col-md-2 col-sm-3 col-12">
                       <div class="product__thumb">
                         <a class="first__img" target="blank" href="https://drive.google.com/file/d/16ft23xx1w0KKPBusrlr2UCQlAAaHp_5a/view?usp=sharing"><img src="/images/pdfss.png" alt="product image"></a>
                         <a class="second__img animation1" target="blank" href="https://drive.google.com/file/d/16ft23xx1w0KKPBusrlr2UCQlAAaHp_5a/view?usp=sharing"><img src="/images/pdfss3.jfif" alt="product image"></a>
                       </div>
                       <div class="product__content content--center">
                         <h4><a target="blank" href="https://drive.google.com/file/d/16ft23xx1w0KKPBusrlr2UCQlAAaHp_5a/view?usp=sharing">OOP</a></h4>
                       </div>
                     </div>


                     <div class="product product__style--3 col-lg-2 col-md-2 col-sm-3 col-12">
                         <div class="product__thumb">
                           <a class="first__img" target="blank" href="https://drive.google.com/file/d/166nE5hhsqQq0al_IqilctmBeyaHLtfiG/view?usp=sharing"><img src="/images/pdfss.png" alt="product image"></a>
                           <a class="second__img animation1" target="blank" href="https://drive.google.com/file/d/166nE5hhsqQq0al_IqilctmBeyaHLtfiG/view?usp=sharing"><img src="/images/pdfss3.jfif" alt="product image"></a>
                         </div>
                         <div class="product__content content--center">
                           <h4><a target="blank" href="https://drive.google.com/file/d/166nE5hhsqQq0al_IqilctmBeyaHLtfiG/view?usp=sharing">Instrumentation</a></h4>
                         </div>
                       </div>

                 <div class="product product__style--3 col-lg-2 col-md-2 col-sm-3 col-12">
                           <div class="product__thumb">
                             <a class="first__img" target="blank" href="https://drive.google.com/file/d/1JpXSxMhDnnjDOktrelvzLTuOctgc1ibs/view?usp=sharing"><img src="/images/pdfss.png" alt="product image"></a>
                             <a class="second__img animation1" target="blank" href="https://drive.google.com/file/d/1JpXSxMhDnnjDOktrelvzLTuOctgc1ibs/view?usp=sharing"><img src="/images/pdfss3.jfif" alt="product image"></a>
                           </div>
                           <div class="product__content content--center">
                             <h4><a target="blank" href="https://drive.google.com/file/d/1JpXSxMhDnnjDOktrelvzLTuOctgc1ibs/view?usp=sharing">ECT</a></h4>
                           </div>
                         </div>

                         <div class="product product__style--3 col-lg-2 col-md-2 col-sm-3 col-12">
                             <div class="product__thumb">
                               <a class="first__img" target="blank" href="https://drive.google.com/file/d/1Dqy8g8s6tDQGwQ0mLInv0SA-hT7PXEPA/view?usp=sharing"><img src="/images/pdfss.png" alt="product image"></a>
                               <a class="second__img animation1" target="blank" href="https://drive.google.com/file/d/1Dqy8g8s6tDQGwQ0mLInv0SA-hT7PXEPA/view?usp=sharing"><img src="/images/pdfss3.jfif" alt="product image"></a>
                             </div>
                             <div class="product__content content--center">
                               <h4><a target="blank" href="https://drive.google.com/file/d/1Dqy8g8s6tDQGwQ0mLInv0SA-hT7PXEPA/view?usp=sharing">Microprocressor</a></h4>
                             </div>
                           </div>
                           <div class="product product__style--3 col-lg-2 col-md-2 col-sm-3 col-12">
                               <div class="product__thumb">
                                 <a class="first__img" target="blank" href="https://drive.google.com/file/d/151Q8AwfXz85Q-gellt3hFcHYNzmrjl2R/view?usp=sharing"><img src="/images/pdfss.png" alt="product image"></a>
                                 <a class="second__img animation1" target="blank" href="https://drive.google.com/file/d/151Q8AwfXz85Q-gellt3hFcHYNzmrjl2R/view?usp=sharing"><img src="/images/pdfss3.jfif" alt="product image"></a>
                               </div>
                               <div class="product__content content--center">
                                 <h4><a target="blank" href="https://drive.google.com/file/d/151Q8AwfXz85Q-gellt3hFcHYNzmrjl2R/view?usp=sharing">Mukesh Gautam ECT</a></h4>
                               </div>
                             </div>

                   </div>
                   <ul class="wn__pagination">
                     <li class="active"><a href="#">1</a></li>
                     <li><a href="#">2</a></li>
                     <li><a href="#">3</a></li>
                     <li><a href="#">4</a></li>
                     <li><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
