<div class="ht__bradcaump__area bg-image--7">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12">
                       <div class="bradcaump__inner text-center">
                         <h2 class="bradcaump-title">Shop Grid</h2>
                           <nav class="bradcaump-content">
                             <a class="breadcrumb_item" href="index.html">Home</a>
                             <span class="brd-separetor">/</span>
                             <span class="breadcrumb_item active">Shop Grid</span>
                           </nav>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- End Bradcaump area -->
       <!-- Start Shop Page -->
       <div class="page-shop-sidebar left--sidebar bg--white section-padding--lg">
         <div class="container">
           <div class="row">

             <div class="col-lg-12 col-12 order-1 order-lg-2">
               <div class="row">
                 <div class="col-lg-12">
               <div class="shop__list__wrapper d-flex flex-wrap flex-md-nowrap justify-content-between">
                             <p>Download pdfs for free! Have a good day!</p>
                           </div>
                 </div>
               </div>
               <div class="tab__container">
                 <div class="shop-grid tab-pane fade show active" id="nav-grid" role="tabpanel">
                   <div class="row">
                     <!-- Start Single Product -->
                    <div class="product product__style--3 col-lg-2 col-md-2 col-sm-3 col-12">
                        <div class="product__thumb">
                        <a class="first__img" target="blank"
                            href="https://drive.google.com/open?id=1FVyL1wIFLwsHiUH7QMWB95n5oUyiwDRB"><img
                            src="/images/pdfss.png" alt="product image"></a>
                        <a class="second__img animation1" target="blank"
                            href="https://drive.google.com/open?id=1FVyL1wIFLwsHiUH7QMWB95n5oUyiwDRB"><img
                            src="/images/pdfss3.jfif" alt="product image"></a>

                        </div>
                        <div class="content--center content--center" >
                        <h4><a target="blank" style="font-size: 14px; color:black"
                            href="https://drive.google.com/open?id=1FVyL1wIFLwsHiUH7QMWB95n5oUyiwDRB">The power of now- Eckhart Tole
                            </a></h4>
                        </div>
                    </div>

                    <div class="product product__style--3 col-lg-2 col-md-2 col-sm-3 col-12">
                        <div class="product__thumb">
                        <a class="first__img" target="blank"
                            href="https://drive.google.com/open?id=1lDmImd7-H0_x3igEnQDiQgxzp7_ZZ7q4"><img
                            src="/images/pdfss.png" alt="product image"></a>
                        <a class="second__img animation1" target="blank"
                            href="https://drive.google.com/open?id=1lDmImd7-H0_x3igEnQDiQgxzp7_ZZ7q4"><img
                            src="/images/pdfss3.jfif" alt="product image"></a>

                        </div>
                        <div class="content--center content--center" >
                        <h4><a target="blank" style="font-size: 14px; color:black"
                            href="https://drive.google.com/open?id=1lDmImd7-H0_x3igEnQDiQgxzp7_ZZ7q4">Think and Grow Rich- Napoleon Hill
                            </a></h4>
                        </div>
                    </div>

                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
